@using Packt.Shared
@using Northwind.Common
@{
  ViewData["Title"] = "Services";
  Product[]? products = ViewData["productsCha"] as Product[];
  Product[]? seafoodProducts = ViewData["seafoodProducts"] as Product[];
}
<div class="text-center">
  <h1 class="display-4">@ViewData["Title"]</h1>
  @if (ViewData["greeting"] != null)
  {
    <p class="alert alert-primary">@ViewData["greeting"]</p>
  }
  @if (ViewData["shipr"] != null)
  {
    Shipper? shipper = ViewData["shipr"] as Shipper;
    <p class="alert alert-danger">
      ShipperId: @shipper?.ShipperId, CompanyName: @shipper?.CompanyName, Phone: @shipper?.Phone
    </p>
  }
  @if (ViewData["productsCha"] != null)
  {
    <h2>Products that start with Cha using OData</h2>
    <p>
      @if (products is null)
      {
        <span class="badge badge-info">No products found.</span>
      }
      else
      {
        @foreach (Product p in products)
        {
          <span class="badge badge-info">
            @p.ProductId
            @p.ProductName
            @(p.UnitPrice is null ? "" : p.UnitPrice.Value.ToString("c"))
          </span>
        }
      }
    </p>
  }
  @if (seafoodProducts is not null)
  {
    <h2>Seafood products using GraphQL</h2>
    <p>
      @foreach (Product p in seafoodProducts)
      {
        <span class="badge badge-success">
          @p.ProductId
          @p.ProductName
          -
          @(p.UnitsInStock is null ? "0" : p.UnitsInStock.Value) in stock
        </span>
      }
    </p>
  }
</div>
